body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    /* max-width: 650px; */
    margin: auto;
    /* padding: 0 16px; */
    /* enable flexbox */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    /* main content should 
    take up all leftover space */
    flex-grow: 1; 
}

.nav-link {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

 .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
      font-size: inherit;
  }

.modal { 
    width: 30% !important; 
    height: 75% !important; 
}  