body {
    font-family: Arial, Helvetica, sans-serif;
    /* max-width: 650px; */
    margin: auto;
    /* padding: 0 16px; */
    /* enable flexbox */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* font-size: 14px; */
    line-height: 1.8;
    color: #333;
    background-color: #f5f5f5;
}
nav#main-nav {
  background-color: #f5f5f5;
}
.main-content {
    flex-grow: 1; 
}
footer#main-footer {
  background-color:#1d2b36!important;
}
hr.line{
  border: .4px solid #405261;
}
p.f-p,
a.f-link{
  color:#405261!important;
  font-weight: 500;
}
.heavy-text {
  font-weight:700;
}
p.label-text {
  font-size: 0.8rem!important;
  color: #9e9e9e!important;
}
.mt-2{
  margin-top:2em!important;
}
.mt-5{
  margin-top:5em;
}
.mt-7{
  margin-top:7em;
}

img#featured-article-img {
  width:auto;
  height:400px;
}
/* #register-modal{
  background-image: url('images/register-image-1.png');
  background-size:contain;
  background-repeat:no-repeat;
  height:15vh;
  position: relative;
  background-position-y: bottom;
  background-position-x: right;
} */

.small-text{
  font-size:10px;
  font-weight:700;
}
.medium-text{
  font-size:12px!important;
}
.ucfirst{
  text-transform: capitalize;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.modal { 
    width: 30% !important; 
    height: 75% !important; 
}  
.demo-dfree {
  position: relative;
  width: 690px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #626262;
  /* font-family: Lato; */
  font-size: 14px;
  padding: 20px;
}
.demo-dfree *[contentEditable="true"]:hover {
  outline: 1px solid #2276d2;
}
.demo-dfree h1 {
  color: #1976d2;
  /* font-family: Aileron !important; */
  font-size: 2em;
  font-weight: bold;
}
.demo-dfree h2 {
  color: #1976d2;
  /* font-family: Aileron; */
  font-size: 2em;
  font-weight: bold;
}
.demo-dfree h3 {
  font-size: 1.5em;
  color: #403f42;
  font-weight: bold;
  color: inherit;
  /* font-family: Aileron; */
}
.demo-dfree h2,
.demo-dfree h3 {
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 40px;
}
.demo-dfree ul,
.demo-dfree ol {
  padding-left: 20px;
}
.demo-dfree ul {
  list-style: disc;
}
.demo-dfree ol {
  list-style: decimal;
}
.demo-dfree a {
  text-decoration: underline;
}
.demo-dfree textarea {
  display: none;
}
.demo-dfree {
  font-size: 2.4em;
  text-align: center;
  margin: 10px;
}
.demo-dfree .dfree-body {
  padding: 20px;
  padding-top: 0px;
}
.demo-dfree .dfree-body p {
  margin-bottom: 10px;
}
.demo-dfree .dfree-body blockquote {
  margin-left: 30px;
  padding-left: 10px;
  margin-right: 40px;
  font-style: italic;
  border-left: 1px solid #696969;
}
.demo-dfree .dfree-body a {
  text-decoration: underline;
}
.demo-dfree .dfree-body td,
.demo-dfree .dfree-body tr {
  border: 1px solid #696969;
}



  
  